/* Email Collector */
.altumcode-collector-modal-wrapper {
    padding: 0 !important;
}

@media (min-width: 576px) {
    .altumcode-collector-modal-wrapper {
        max-width: 550px !important;
    }
}

.altumcode-collector-modal-image-holder {
    min-width: 100% !important;
    height: 300px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}


.altumcode-collector-modal-content {
    padding: 30px !important;
    display: flex !important;
    flex-direction: column !important;
}

.altumcode-collector-modal-header {
    display: flex !important;
    justify-content: right !important;
}

.altumcode-collector-modal-title {
    font-weight: bold !important;
    font-size: 24px !important;
    flex-grow: 1 !important;
    margin-bottom: 25px !important;
    text-align: center !important;
}

.altumcode-collector-modal-description {
    font-size: 16px !important;
    margin-bottom: 25px !important;
    text-align: center !important;
}

.altumcode-collector-modal-form {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 20px !important;
}

.altumcode-collector-modal-row {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    margin-bottom: 15px !important;
}

.altumcode-collector-modal-row input {
    border: 1px solid hsla(0, 0%, 85%, 1) !important;
    background: white;
    padding: 12px 12px !important;
    color: #495057;
    font-size: 14px !important;
    border-radius: 5px !important;
    flex-grow: 1 !important;
    margin-right: 10px !important;
    transition: .3s border !important;
}
.altumcode-collector-modal-row input:hover {
    border: 1px solid hsla(0, 0%, 90%, 1) !important;
}

.altumcode-collector-modal-row button {
    cursor: pointer !important;
    background: black;
    border: 0 !important;
    font-size: 14px !important;
    font-weight: bold;
    padding: 12px 14px !important;
    color: white;
    border-radius: 5px !important;
    transition: .3s opacity !important;
}

.altumcode-collector-modal-row button:hover {
    opacity: 0.95 !important;
}

.altumcode-collector-modal-wrapper .altumcode-close {
    position: absolute !important;
    right: 20px !important;
}
